/* GLOBAL */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  color: rgb(174, 0, 255);
}

.container {
  margin: 0 auto;
  max-width: 880px;
}

.horloge {
  text-align: center;
}

.hourbottom,
.minutebottom,
.minutebottom2,
.hourbottom2,
.hourtop,
.minutetop,
.minutetop2,
.hourtop2 {
  padding: 50px;
  border: solid #111;
}

.time {
  padding: 150px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.huit {
  margin: 15px;
}

.point {
  font-size: 5rem;
}

.haut{
  padding: 50px;
  border-top-color: rgb(174, 0, 255);
} 
.bas{
  padding: 50px;
  border-bottom-color: rgb(174, 0, 255);
}
.gauche{
  padding: 50px;
  border-left-color: rgb(174, 0, 255);
}
.droite{
  padding: 50px;
  border-right-color: rgb(174, 0, 255);
}
